body{
  text-align: center;
  background-color: rgb(240, 235, 230);
}

h1{
  color: rgb(205, 124, 221);
}

h2{
  color:rgb(205, 124, 221);
  font-size: 55px;
}

button{
  color: rgb(240, 235, 230);
  background-color: rgb(205, 124, 221);
  border-color: rgb(212, 65, 241);
  font-size: 20px;
  width: 220px;
  margin: 11px;
}




